/* Chess */
#chessboard, .blk, .whte {
	display:block;
	padding:0px;
	margin:0px;
}

#chessboard {
	width:384px;
	height:384px;
	border:4px solid black;
}

.blk, .whte {
	width:48px;
	height:48px;
	float:left; 
}

.blk {
	background-color:#000000;
}

.whte {
	background-color:#FFFFFF;
}
/* Flag */
  .container {
	background-color: #FFFFFF;
	padding: 10px;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-gap: 10px;
  }
  .items {
	background-color: red;
	padding: 20px;
	margin: 10px;
	color: white;
	font-size: large;
	border: solid black;
  }
   .fuse {
	position: absolute;
	top: 28px;
	left: 28px;
	height: 45%;
	z-index: 999; 
  }  
  /* Medium */
   #Products {
	display: grid;
	grid-auto-columns: max-content;
	grid-auto-flow: dense;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 25px;
	grid-template-columns: repeat(4, 2fr);
	margin: 60px auto;
	max-width: 800px;
  }
  .product {
	display: block;
	border:5px solid;
	border-color:black;
	text-align: center;
	
  }
  .loba {
	width:120px;
	height: 100px;
  }
  
  a{
   text-decoration:none;
	color:red;
  } 